/.gitignore @wwt/workflow-pipeline
/.github/ @wwt/workflow-pipeline
/fastlane/ @wwt/workflow-pipeline

/SwiftCurrentLint/.swiftlint.yml @wwt/workflow-pipeline

/changelog_configuration.json @wwt/workflow-pipeline
/document.sh @wwt/workflow-pipeline

/.clabot @wwt/workflow-pipeline
/DynamicWorkflow.podspec @wwt/workflow-pipeline
/SwiftCurrent.podspec @wwt/workflow-pipeline

/LICENSE @wwt/workflow-license
