<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>runDestinationsByUUID</key>
	<dict>
		<key>A4925EA8-DA56-4314-A2CC-1399FB60F370</key>
		<dict>
			<key>localComputer</key>
			<dict>
				<key>busSpeedInMHz</key>
				<integer>100</integer>
				<key>cpuCount</key>
				<integer>1</integer>
				<key>cpuKind</key>
				<string>10-Core Intel Xeon W</string>
				<key>cpuSpeedInMHz</key>
				<integer>3000</integer>
				<key>logicalCPUCoresPerPackage</key>
				<integer>20</integer>
				<key>modelCode</key>
				<string>iMacPro1,1</string>
				<key>physicalCPUCoresPerPackage</key>
				<integer>10</integer>
				<key>platformIdentifier</key>
				<string>com.apple.platform.macosx</string>
			</dict>
			<key>targetArchitecture</key>
			<string>x86_64</string>
		</dict>
	</dict>
</dict>
</plist>
