name: Release

on:
  release:
    types: [released]

jobs:
  release:
    runs-on: macos-latest
    if: ${{ github.repository == 'wwt/SwiftCurrent' }}
    steps:
      - uses: actions/checkout@v2
      - name: Cocoapods Release
        run: |
          pod repo add-cdn trunk 'https://cdn.cocoapods.org/'
          pod trunk push SwiftCurrent.podspec --allow-warnings
        env:
          COCOAPODS_TRUNK_TOKEN: ${{ secrets.COCOAPODS_TRUNK_TOKEN }}